---
import { packagePageHandler } from "../../../lib/package-page-handler";

export const prerender = false;

const { slug } = Astro.params;
const out = await packagePageHandler(slug);
if (out instanceof Response) {
	return out;
}
---

<!-- <h1 class="text-3xl font-bold">{slug}</h1> --><!-- <h2>Package: {pkg}</h2>
<h2>Package name: {pkgName}</h2>
<h2>Subpath: {subpath}</h2> --><!-- <h2>API</h2> -->
<pre>{JSON.stringify(out, null, 2)}</pre>
