---
import { SEO } from "astro-seo";
import { packagePageHandler } from "../../../lib/package-page-handler";
import PackagePageAlerts from "../../components/PackagePageAlerts.astro";

export const prerender = false;

const { slug } = Astro.params;
const handlerResult = await packagePageHandler(slug);
if (handlerResult instanceof Response) {
	return handlerResult;
}
const props = handlerResult;
const { pkgId } = props;
---

<html lang="en">
	<head>
		<SEO
			title={`${pkgId} - jsDocs.io`}
			description={`Documentation for npm package ${pkgId} on jsDocs.io`}
		/>
	</head>
	<body>
		<PackagePageAlerts {...props} />
		<h1>{pkgId}</h1>
	</body>
</html>
