---
import { packagePageHandler } from "../../../lib/package-page-handler";
import PackagePageAlerts from "../../components/PackagePageAlerts.astro";
import PackagePageArticle from "../../components/PackagePageArticle.astro";
import PackagePageSidebar from "../../components/PackagePageSidebar.astro";
import QuickSearch from "../../components/QuickSearch.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export const prerender = false;

const { slug } = Astro.params;
const handlerResult = await packagePageHandler(slug);
if (handlerResult instanceof Response) {
	return handlerResult;
}
const props = handlerResult;
const { pkgId } = props;
const title = pkgId;
const description = `Documentation for npm package ${pkgId} on jsDocs.io`;
---

<BaseLayout {title} {description}>
	<div
		class="grid grid-cols-1 gap-8 md:grid-cols-[12rem_minmax(0,_1fr)] lg:grid-cols-[18rem_minmax(0,_1fr)]"
	>
		<PackagePageAlerts {...props} />
		<PackagePageSidebar {...props} />
		<PackagePageArticle {...props} />
	</div>

	<QuickSearch slot="modals" />
</BaseLayout>
