---
import { packagePageHandler } from "../../../lib/package-page-handler";
import PackagePageAlerts from "../../components/PackagePageAlerts.astro";
import PackagePageArticle from "../../components/PackagePageArticle.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export const prerender = false;

const { slug } = Astro.params;
const handlerResult = await packagePageHandler(slug);
if (handlerResult instanceof Response) {
	return handlerResult;
}
const props = handlerResult;
const { pkgId } = props;
const title = pkgId;
const description = `Documentation for npm package ${pkgId} on jsDocs.io`;
---

<BaseLayout {title} {description}>
	<div class="container mx-auto flex flex-col items-center gap-8 px-4">
		<PackagePageAlerts {...props} />
		<PackagePageArticle {...props} />
	</div>
</BaseLayout>
