name: CI for main branch

on:
  push:
    branches:
      - "main"

jobs:
  # See https://stackoverflow.com/a/73624365/16109047
  build-and-deploy:
    runs-on: ubuntu-latest
    if: github.repository == 'jsdocs-io/web' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test:ci

      - name: Build
        run: pnpm build

      - name: CodeCov
        uses: codecov/codecov-action@v3.1.4
