---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "jsDocs.io";
const description =
	"jsDocs.io is an open source documentation host for Javascript and Typescript packages published on npm";
---

<BaseLayout {title} {description}>
	<p>TODO:</p>
</BaseLayout>
