---
import LucidePackageCheck from "~icons/lucide/package-check";
import type { PackagePageHandlerProps } from "../../lib/package-page-handler";

type Props = PackagePageHandlerProps & { status: "definitely-typed" };

const {
	pkgJson: { _id },
	dtPkgName,
} = Astro.props;
---

<div role="alert" class="alert text-balance">
	<LucidePackageCheck class="size-6" />
	<span
		>Type definitions for {_id} are available in the <a
			class="link-hover link font-bold"
			href={`/package/${dtPkgName}`}>{dtPkgName}</a
		> package.</span
	>
	<a href={`/package/${dtPkgName}`} class="btn btn-outline btn-sm">See documentation</a>
</div>
