---
import LucideHeart from "~icons/lucide/heart";
import LucideInfo from "~icons/lucide/info";
import LucidePackageSearch from "~icons/lucide/package-search";
import LucideSearch from "~icons/lucide/search";
---

<header class="flex items-center gap-2 border-b border-base-content/20 p-2">
	<a class="hidden sm:btn sm:btn-ghost sm:btn-sm" href="/">
		<LucidePackageSearch class="h-6 w-6" />
		jsDocs.io
	</a>

	<label class="input input-sm input-bordered flex grow items-center gap-2">
		<LucideSearch class="h-4 w-4" />
		<input type="text" class="grow" placeholder="Search packages" />
		<kbd class="kbd kbd-sm">S</kbd>
	</label>

	<a class="hidden sm:btn sm:btn-ghost sm:btn-sm" href="/sponsor">
		<LucideHeart class="h-4 w-4" />
		Sponsor
	</a>

	<a class="hidden sm:btn sm:btn-ghost sm:btn-sm" href="/about">
		<LucideInfo class="h-4 w-4" />
		About
	</a>
</header>
