---
import ThemeButton from "./ThemeButton.svelte";
import DonateButton from "./DonateButton.astro";
import AboutButton from "./AboutButton.astro";
import JsDocsIoButton from "./JsDocsIoButton.astro";
---

<header class="border-b">
	<div class="flex items-center justify-between gap-2 p-4">
		<JsDocsIoButton />

		<div class="flex items-center gap-4">
			<ThemeButton client:load />

			<div class="bg-border h-8 w-px"></div>
			<DonateButton />

			<div class="bg-border h-8 w-px"></div>
			<AboutButton />
		</div>
	</div>
</header>
