---
import LucideHeart from "~icons/lucide/heart";
import LucideInfo from "~icons/lucide/info";
import LucidePackageSearch from "~icons/lucide/package-search";
import PackageSearchOpener from "./PackageSearchOpener.astro";
---

<header
	class="border-base-content/20 bg-base-200 text-base-content flex w-full items-center gap-2 border-b px-4 py-2 sm:px-2"
>
	<a class="sm:btn sm:btn-ghost hidden" href="/">
		<LucidePackageSearch class="size-6" />
		jsDocs.io
	</a>

	<div class="grow lg:w-[28rem] lg:grow-0">
		<PackageSearchOpener />
	</div>

	<div class="hidden lg:block lg:grow"></div>

	<a class="md:btn md:btn-ghost hidden" href="/donate">
		<LucideHeart class="size-6" />
		Donate
	</a>

	<a class="md:btn md:btn-ghost hidden" href="/about">
		<LucideInfo class="size-6" />
		About
	</a>
</header>
