---
import LucideHeart from "~icons/lucide/heart";
import LucideInfo from "~icons/lucide/info";
import LucidePackageSearch from "~icons/lucide/package-search";
import LucideSearch from "~icons/lucide/search";
---

<header
	class="flex items-center gap-2 border-b border-base-content/20 bg-base-200 px-4 py-2 text-base-content sm:px-2"
>
	<a class="hidden sm:btn sm:btn-ghost" href="/">
		<LucidePackageSearch class="size-6" />
		jsDocs.io
	</a>

	<label class="input input-bordered flex grow items-center gap-2">
		<LucideSearch class="size-4" />
		<input type="text" class="grow" placeholder="Search packages" />
		<kbd class="kbd kbd-sm">s</kbd>
	</label>

	<a class="hidden md:btn md:btn-ghost" href="/donate">
		<LucideHeart class="size-6" />
		Donate
	</a>

	<a class="hidden md:btn md:btn-ghost" href="/about">
		<LucideInfo class="size-6" />
		About
	</a>
</header>
