---
import ThemeButton from "./ThemeButton.svelte";
import DonateButton from "./DonateButton.astro";
import AboutButton from "./AboutButton.astro";
import JsDocsIoButton from "./JsDocsIoButton.astro";
---

<header class="border-b">
	<div class="flex items-center justify-between gap-2 p-4">
		<JsDocsIoButton />

		<div class="flex items-center gap-4">
			<div class="hidden md:flex md:items-center md:gap-4">
				<DonateButton />
				<AboutButton />
				<div class="bg-border h-8 w-px"></div>
			</div>

			<ThemeButton client:load />
		</div>
	</div>
</header>
