---
import LucideHeart from "~icons/lucide/heart";
import LucideInfo from "~icons/lucide/info";
import LucidePackageSearch from "~icons/lucide/package-search";
import LucideSearch from "~icons/lucide/search";
---

<header class="flex items-center gap-2 border-b border-base-content/20 p-2">
	<a class="hidden sm:btn sm:btn-ghost sm:btn-sm" href="/">
		<LucidePackageSearch class="size-4" />
		jsDocs.io
	</a>

	<label class="input input-sm input-bordered flex grow items-center gap-2">
		<LucideSearch class="size-4" />
		<input type="text" class="grow" placeholder="Search packages" />
		<kbd class="hidden sm:kbd sm:kbd-xs">s</kbd>
	</label>

	<a class="hidden sm:btn sm:btn-ghost sm:btn-sm" href="/sponsor">
		<LucideHeart class="size-4" />
		Sponsor
	</a>

	<a class="hidden sm:btn sm:btn-ghost sm:btn-sm" href="/about">
		<LucideInfo class="size-4" />
		About
	</a>
</header>
