---
import LucideTriangleAlert from "~icons/lucide/triangle-alert";
import type { PackagePageHandlerProps } from "../../lib/package-page-handler";

type Props = PackagePageHandlerProps & { status: "invalid-license" };

const {
	pkgJson: { _id },
} = Astro.props;
---

<div role="alert" class="alert text-balance">
	<LucideTriangleAlert class="size-6" />
	<span
		>Documentation is unavailable because package {_id} is unlicensed or has a proprietary license.</span
	>
</div>
