---
import LucidePackageSearch from "~icons/lucide/package-search";
---

<a href="/" class="flex items-center gap-2">
	<LucidePackageSearch class="size-6" />
	<span class="font-bold">jsDocs.io</span>
</a>
