---
import LucideCircleX from "~icons/lucide/circle-x";
import type { PackagePageHandlerProps } from "../../lib/package-page-handler";

type Props = PackagePageHandlerProps & { status: "no-api" };

const { pkgId } = Astro.props;
---

<div role="alert" class="alert">
	<LucideCircleX class="h-6 w-6 text-error" />
	<span>
		Documentation is unavailable because API extraction failed for package {pkgId}.
	</span>
</div>
