---
import type { PackagePageHandlerProps } from "../../lib/package-page-handler";
import DocComment from "./DocComment.astro";

type Props = PackagePageHandlerProps;

const { status, pkgJson } = Astro.props;
const overview =
	status === "with-api" && Astro.props.pkgApi.overview ? Astro.props.pkgApi.overview
	: pkgJson.description ? `/** ${pkgJson.description} */`
	: `/** Overview not available. */`;
---

<h2 id="package-overview">Overview</h2>
<DocComment doc={overview} />
