---
import type { NormalizedPackageJson } from "read-pkg";

type Props = {
	pkgJson: NormalizedPackageJson;
};

const {
	pkgJson: { name },
} = Astro.props;
---

{/* Align vertically with the QuickSearch button. */}
<div class="flex min-h-12 flex-col justify-center">
	<h1 class="my-0 truncate">{name}</h1>
</div>
