---
import type { PackagePageHandlerProps } from "../../lib/package-page-handler";
import PackageBadge from "./PackageBadge.astro";
import PackageDependencies from "./PackageDependencies.astro";
import PackageOverview from "./PackageOverview.astro";

type Props = PackagePageHandlerProps;

const props = Astro.props;
const { status, pkgJson } = props;
---

<article class="prose w-full max-w-[100ch] prose-h1:text-3xl">
	<h1>{pkgJson._id}</h1>

	<PackageOverview {...props} />

	{
		status === "with-api" && (
			<>
				<h2 id="api">API</h2>
			</>
		)
	}

	<PackageDependencies {pkgJson} />
	<PackageBadge name={pkgJson.name} />
</article>
