---
import type { PackagePageHandlerProps } from "../../lib/package-page-handler";
import PackageOverview from "./PackageOverview.astro";

type Props = PackagePageHandlerProps;

const props = Astro.props;
const { status, pkgId } = props;
---

<article class="prose prose-h1:text-3xl">
	<h1>{pkgId}</h1>

	<PackageOverview {...props} />

	{
		status === "with-api" && (
			<>
				<h2 id="api">API</h2>
			</>
		)
	}
</article>
