---
import type { HandlePackageData } from "../../lib/handlers/package/handle-package";
import PackageAbout from "./PackageAbout.astro";
import PackageApi from "./PackageApi.astro";
import PackageBadge from "./PackageBadge.astro";
import PackageDependencies from "./PackageDependencies.astro";
import PackageInfoBadges from "./PackageInfoBadges.astro";
import PackageOverview from "./PackageOverview.astro";
import PackageTitle from "./PackageTitle.astro";

type Props = HandlePackageData;

const { status, pkgInfo } = Astro.props;
const { pkgJson } = pkgInfo;
---

<main id="main-content">
	<article class="prose max-w-[100ch] wrap-break-word">
		<PackageTitle {pkgJson} />
		<PackageInfoBadges {pkgJson} />
		<PackageOverview {...Astro.props} />
		{status === "pkg-has-api" && <PackageApi {...pkgInfo} />}
		<PackageDependencies {pkgJson} />
		<PackageBadge name={pkgJson.name} />
		<PackageAbout {...Astro.props} />
	</article>
</main>
