---
import type { PackagePageHandlerProps } from "../../lib/package-page-handler";
import PackagePageIndexDeclarations from "./PackagePageIndexDeclarations.astro";
import QuickSearch from "./QuickSearch.astro";

type Props = PackagePageHandlerProps;

const { status, pkgJson } = Astro.props;
const hasPeerDeps = Object.keys(pkgJson.peerDependencies ?? {}).length > 0;
---

<aside class="flex flex-col gap-6">
	<QuickSearch />

	{/* Overview. */}
	<a href="#package-overview" class="link-hover link font-bold">Overview</a>

	{/* Declarations. */}
	{
		status === "with-api" && (
			<PackagePageIndexDeclarations
				containerName="package"
				declarations={Astro.props.pkgApi.declarations}
			/>
		)
	}

	{/* Dependencies. */}
	<a href="#package-dependencies" class="link-hover link font-bold">Dependencies</a>
	<a href="#package-dev-dependencies" class="link-hover link font-bold">Dev dependencies</a>
	{
		hasPeerDeps && (
			<a href="#package-peer-dependencies" class="link-hover link font-bold">
				Peer dependencies
			</a>
		)
	}

	{/* Badge. */}
	<a href="#package-badge" class="link-hover link font-bold">Badge</a>

	{/* About. */}
	<a href="#package-about" class="link-hover link font-bold">About</a>
</aside>
