---
import LucideSearch from "~icons/lucide/search";
---

<button
	x-data="dialogOpener('#package-search')"
	class="btn btn-outline w-full justify-between border-base-content/20"
	@click="open()"
	@keydown.ctrl.shift.f.window.prevent="open()"
	@keydown.cmd.shift.f.window.prevent="open()"
>
	<div class="flex items-center gap-2 text-opacity-20">
		<LucideSearch class="size-4" />
		Search npm packages &hellip;
	</div>
	<kbd x-cloak>
		<kbd class="hidden font-normal text-base-content lg:kbd lg:kbd-sm" x-text="cmdKey"></kbd>
		<kbd class="hidden font-normal text-base-content lg:kbd lg:kbd-sm">Shift</kbd>
		<kbd class="hidden font-normal text-base-content lg:kbd lg:kbd-sm">F</kbd>
	</kbd>
</button>
