---
import LucideFileSearch from "~icons/lucide/file-search";
---

<button
	x-data="dialogOpener('#quick-search')"
	class="btn btn-outline w-full justify-between border-base-content/50"
	@click="open()"
	@keydown.ctrl.k.window.prevent="open()"
	@keydown.cmd.k.window.prevent="open()"
>
	<div class="flex items-center gap-2">
		<LucideFileSearch class="size-6" />
		Quick search &hellip;
	</div>
	<kbd x-cloak>
		<kbd class="hidden font-normal text-base-content lg:kbd lg:kbd-sm" x-text="cmdKey"></kbd>
		<kbd class="hidden font-normal text-base-content lg:kbd lg:kbd-sm">K</kbd>
	</kbd>
</button>
