---
import LucideFileSearch from "~icons/lucide/file-search";
---

<button class="btn btn-outline justify-between">
	<div class="flex items-center gap-2">
		<LucideFileSearch class="size-6" />
		Quick search
	</div>
	<kbd class="kbd kbd-sm font-normal text-base-content">f</kbd>
</button>
