---

---

<dialog
	x-data="quickSearch()"
	id="quick-search"
	class="open:modal open:modal-bottom open:md:modal-middle"
	@close="close()"
	open
>
	<div class="modal-box">
		{/* Close button. */}
		<form method="dialog">
			<button class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2">✕</button>
		</form>

		{/* Title. */}
		<h3 class="text-lg font-bold">Quick search</h3>

		{/* Search input. */}
		<label for="quick-search-input" class="sr-only">Search for symbols in this package</label>
		<input
			autofocus
			id="quick-search-input"
			type="search"
			class="input input-bordered w-full"
			x-model="query"
			@keydown.up.prevent="prevResult()"
			@keydown.down.prevent="nextResult()"
			@keydown.enter.prevent="useResult()"
		/>

		{/* Search results. */}
		<ul class="mt-4 h-64 overflow-hidden overflow-y-auto" x-ref="quickSearchResults">
			<template x-for="(result, i) in results">
				<li :class="{ 'bg-red-400': i === cursor }">
					<a href="" x-text="result"></a>
				</li>
			</template>
		</ul>
	</div>

	{/* Clickable backdrop to close modal. */}
	<form method="dialog" class="modal-backdrop">
		<button>Close quick search</button>
	</form>
</dialog>
