---

---

<dialog x-data="quickSearch()" id="quick-search" class="modal-bottom open:modal" @close="close()">
	<div class="modal-box lg:max-w-5xl">
		{/* Close button. */}
		<form method="dialog">
			<button class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2">✕</button>
		</form>

		{/* Title. */}
		<h3 class="text-lg font-bold">Quick search</h3>

		{/* Search input. */}
		<label for="quick-search-input" class="sr-only">Search for symbols in this package</label>
		<input
			autofocus
			id="quick-search-input"
			type="search"
			class="input input-bordered mt-2 w-full"
			autocomplete="off"
			x-model.debounce.100ms="query"
			@keydown.up.prevent="prevResult()"
			@keydown.down.prevent="nextResult()"
			@keydown.enter.prevent="useResult()"
		/>

		{/* Search results container. */}
		<div class="mt-4 h-64 overflow-hidden overflow-y-auto">
			{/* Search results. */}
			<ul id="quick-search-results" x-show="results.length > 0">
				<template x-for="(result, i) in results" :key="result.declarationId">
					<li>
						<a
							class="flex items-center justify-between gap-4 rounded px-2 py-1 hover:bg-base-content hover:text-base-300"
							:class="i === cursor && 'bg-base-content text-base-300'"
							:href="`#${result.headingId}`"
							@click="close()"
						>
							<span class="truncate" x-text="result.headingId"></span>
							<span class="opacity-70" x-text="`(${result.kind})`"></span>
						</a>
					</li>
				</template>
			</ul>

			{/* No search results. */}
			<div
				class="flex items-center justify-between gap-4 rounded bg-base-content px-2 py-1 text-base-300"
				x-show="results.length === 0"
			>
				<span class="truncate">No results</span>
				<span class="opacity-70">¯\_(ツ)_/¯</span>
			</div>
		</div>
	</div>

	{/* Clickable backdrop to close modal. */}
	<form method="dialog" class="modal-backdrop">
		<button>Close quick search</button>
	</form>
</dialog>
