---

---

<dialog
	x-data
	id="quick-search"
	class="open:modal open:modal-bottom open:md:modal-middle"
	@close="$store.quickSearch.close()"
>
	<div class="modal-box">
		<form method="dialog">
			<button class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2">✕</button>
		</form>

		<h3 class="text-lg font-bold">Quick search</h3>
		<p class="py-4">Press ESC key or click outside to close</p>
	</div>

	<form method="dialog" class="modal-backdrop">
		<button>Close quick search</button>
	</form>
</dialog>
