@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region Body */

body {
	@apply flex min-h-screen flex-col;
}

/* #endregion Body */

/* #region Nprogress */
/* See node_modules/nprogress/nprogress.css */

/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: hsl(var(--bc));
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px hsl(var(--bc)), 0 0 5px hsl(var(--bc));
	opacity: 1;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

/* #endregion Nprogress */
