---
import "../styles/shiki.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<slot name="head" />
	</head>
	<body>
		<slot />
		<script src="../scripts/add-anchor-links.ts"></script>
		<script src="../scripts/add-copy-buttons.ts"></script>
	</body>
</html>
