---
import { SEO } from "astro-seo";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/shiki.css";
import QuickSearch from "../components/QuickSearch.astro";

type Props = {
	title: string;
	description: string;
};

const { title, description } = Astro.props;

// Prevent title from being `jsDocs.io - jsDocs.io` on the homepage.
const titleTemplate = title !== "jsDocs.io" ? "%s - jsDocs.io" : undefined;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<SEO
			slot="head"
			{title}
			{titleTemplate}
			{description}
			openGraph={{
				basic: {
					title: description,
					type: "website",
					image: "https://jsdocs.io/TODO:.png",
				},
				image: {
					alt: description,
				},
			}}
			twitter={{
				card: "summary_large_image",
				title: description,
				description: description,
				image: "https://jsdocs.io/TODO:.png",
				imageAlt: description,
				site: "@jsDocs",
				creator: "@jsDocs",
			}}
		/>
	</head>
	<body>
		<a href="#main-content" class="sr-only">Skip to main content</a>

		<div class="grid min-h-svh auto-cols-fr grid-rows-[auto_1fr_auto] gap-8">
			<Header />
			<div class="justify-self-center px-4 md:px-6">
				<slot />
			</div>
			<Footer />
		</div>

		<slot name="modals" />

		<script src="../scripts/add-anchor-links.ts"></script>
		<script src="../scripts/add-copy-buttons.ts"></script>
	</body>
</html>
