@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4 {
        @apply font-bold;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    p {
        @apply mt-2;
    }
}

@layer components {
    .list-inline {
        @apply flex;
        @apply flex-wrap;
    }

    .list-inline li + li::before {
        @apply px-1;
        @apply text-gray-500;
        content: '·';
    }

    .navbar-links {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .navbar-links::-webkit-scrollbar {
        display: none;
    }
}
